/_build
/deps
erl_crash.dump
*.ez
*.key
*.*~
*.*#
*.#*
/priv/static/js/fluxxor/.module-cache
/priv/static/js/fluxxor/node_modules
/priv/static/js/reflux/.module-cache
/priv/static/js/reflux/node_modules