<div class="jumbotron">
  <h2>Hacker News Translator</h2>
</div>

<script src="/js/hacker_news.js" type="text/javascript"></script>

<div ng-app="HackerNews">
  <div ng-controller="HackerNewsController">
    Get the top <input type="number"
		       step="1" 
		       min="0"
		       max="10"
		       ng-model="count"
		       ng-change= "onChange()"/> news items
    <ul style="margin: 10px 0 10px 0">
      <li ng-repeat="item in items">{{item.title}}</li>
    </ul>
    <div>
    Show them in <select ng-model="language" 
			 ng-options="l for l in languages"
			 ng-change= "onChange()"></select>
    </div>
  </div>
</div>

